html{
  font: calc(1em + 0.25vw)/1.5 system-ui, sans-serif;
}

body{
  margin: auto;
  padding: 0 2em;
  max-width: 40em;
}

img, video{
  max-width: 100%;
  height: auto;
}

code, kbd, pre{
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
  font-size: 0.9rem;
  overflow: auto;
}

table{
  border-collapse: collapse;
  width: 100%;
}

td, th{
  padding: 0.5em;
  border: 1px solid;
}
