@media (prefers-color-scheme: dark) {
  a:link:not(:active){
    color: #0f9bff;
  }

  a:visited:not(:active){
    color: #c276e5;
  }

  hr{
    border-style: solid;
    border-color: #000 #191919 #191919 #000;
  }
}
