@media (prefers-color-scheme: dark) {
  a:link:not(:active){
    color: #0f9bff;
  }

  a:visited:not(:active){
    color: #c276e5;
  }

  hr{
    border-style: solid;
    border-color: rgba(0,0,0,0.4) rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.4);
  }
}
