@media (max-width:1140px){ /* (35 + 2) × 22 × 1.4 */
  body{
    font-size: 20px;
  }
}
@media (max-width:740px){ /* (35 + 2) × 20 */
  body{
    font-size: 18px;
  }
}
@media (max-width:466px){ /* (35 + 2) × 18 × 0.7 */
  body{
    font-size: 16px;
  }
}
