code,kbd,pre{
  font: 0.8em/1.4 SF Mono, Monaco, monospace;
  border-radius: 3px;
  background-color: ghostwhite;
}
code,kbd{
  padding: .2em .4em;
}
pre code{
  font: inherit;
  padding: 0;
}
pre{
  overflow-x: auto;
  padding: 1em;
}
