name: README

on:
  push:
    branches: [ "main", "develop" ]

jobs:
  generate:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v31
      - run: nix run github:jeffkreeftmeijer/readme.el -- enough.css.org README.md
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Regenerate README.md
